<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect empty requests to public/
    RewriteRule ^$ public/ [L]
    
    # Rewrite all asset and page requests to the public/ directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
